.poster-display {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.poster {
  margin: 25px 0;
}
@media screen and (max-width: 1199px) and (min-width: 991px) {
  .poster {
    margin: 0;
  }
}
