.movie-display {
  margin-bottom: 25px;
  .display {
    background-repeat: no-repeat;
    background-size: cover;
    height: 375px;
    display: flex;
    align-items: flex-end;
    .text-display {
      height: 0;
      transition: .5s ease;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .movie-title {
      text-align: center;
      width: 100%;
      background-color: rgba(24,38,40,.8);
      margin: 0;
      padding: 0 10px;
      color: white;
      height: 75px;
      display: none;
      justify-content: center;
      align-items: center;
    }
  }
  a:hover .text-display {
    height: 75px;
    .movie-title {
      display: flex;
    }
  }
}

@media screen and (max-width: 1199px) {
  .movie-display {
    .display {
      height: 300px;
    }
  }
}

@media screen and (max-width: 991px) {
  .movie-display {
    .display {
      height: 500px;
    }
  }
}

@media screen and (max-width: 767px) {
  .movie-display {
    .display {
      height: 375px;
    }
  }
}

@media screen and (max-width: 545px) {
  .movie-display {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    .display {
      height: 700px;
    }
  }
}

@media screen and (max-width: 420px) {
  .movie-display {
    .display {
      height: 550px;
    }
  }
}
